<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="RomViewerConnectionString" connectionString="Server=DEV-ED\SQLEXPRESS;initial catalog=ROM;Integrated Security=True" />
  </connectionStrings>
  <appSettings>
    <add key="ToonCount" value="5"/>
    <add key="Toon.1" value="Remede,60000,60999"/>
    <add key="Toon.1.LootFilter.Active" value="true"/>
    <add key="Toon.1.LootFilter.Picks" value="*meat*,*rune,*Rune,*III,*IV,Ancient*,*Meat"/>
    <add key="Toon.1.LootFilter.Excludes" value="*rrow*"/>
    <add key="Toon.1.LootFilter.Quality" value="BLUE" />
    <add key="Toon.2" value="Outcome,60001,60998"/>
    <add key="Toon.2.LootFilter.Active" value="true"/>
    <add key="Toon.2.LootFilter.Picks" value="*meat*,*rune,*Rune,*III,*IV,Ancient*,*Meat"/>
    <add key="Toon.2.LootFilter.Excludes" value="*rrow*"/>
    <add key="Toon.2.LootFilter.Quality" value="BLUE" />
    <add key="Toon.3" value="Remedial,60002,60997"/>
    <add key="Toon.3.LootFilter.Active" value="false"/>
    <add key="Toon.3.LootFilter.Picks" value=""/>
    <add key="Toon.3.LootFilter.Excludes" value="Throwing*, Balanced*,*Taborea*"/>
    <add key="Toon.3.LootFilter.Quality" value="WHITE" />
    <add key="Toon.4" value="Rembrandt,60003,60996"/>
    <add key="Toon.4.LootFilter.Active" value="false"/>
    <add key="Toon.4.LootFilter.Picks" value=""/>
    <add key="Toon.4.LootFilter.Excludes" value="Throwing*, Balanced*,*Taborea*"/>
    <add key="Toon.4.LootFilter.Quality" value="WHITE" />
    <add key="Toon.5" value="Honorme,60003,60996"/>
    <add key="Toon.5.LootFilter.Active" value="false"/>
    <add key="Toon.5.LootFilter.Picks" value=""/>
    <add key="Toon.5.LootFilter.Excludes" value="*Taborea*"/>
    <add key="Toon.5.LootFilter.Quality" value="WHITE" />	
  </appSettings>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
